---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout title="Home">

  <h1>Prasad Firame</h1>
  
  <p>
    I’m an engineer and writer focused on building simple, fast, and scalable software systems. I care about understanding how things work under the hood, not just using them.
  </p>

  <p>
    Most of my time goes into exploring distributed systems, data engines, and developer tools , the systems that quietly power everything at scale.
  </p>

  <p>
    I like breaking complex systems into simple ideas and turning them into code, writing, and experiments.
  </p>

  <p>
    <a href="/origin-story">Read my origin story →</a>
  </p>

  <p style="margin-top:2.0rem; font-size:0.95rem;">
    write-ups
  </p>

  {posts
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .map((post) => (
      <p>
        {post.data.date.toISOString().slice(0, 10)} —{" "}
        <a href={`/blog/${post.id}`}>
          {post.data.title}
        </a>
      </p>
    ))}

  <p style="margin-top:2rem;">
    <a href="https://x.com/rev_proxy">x/twitter</a> ·
    <a href="mailto:pfirame18@gmail.com">email</a> ·
    <a href="https://github.com/prasadf18">github</a>
  </p>
</Layout>